<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloud.fs.mappers.DirectoryMapper">

    <!-- 创建目录 -->
    <insert id="createDirectory" parameterType="map">
        INSERT INTO directories (directory_id, parent_directory_id, user_id, name)
        VALUES ( #{directoryId}, #{parentDirectoryId}, #{userId}, #{name})
    </insert>

    <!-- 删除目录 -->
    <delete id="deleteDirectory" parameterType="java.util.UUID">
        DELETE FROM directories WHERE directory_id = #{directoryId}
    </delete>

    <!-- 更新目录的名称 -->
    <update id="updateDirectoryName" parameterType="map">
        UPDATE directories
        SET name = #{name},
            updated_at = CURRENT_TIMESTAMP
        WHERE directory_id = #{directoryId}
    </update>

    <!-- 移动目录 -->
    <update id="moveDirectory" parameterType="map">
        UPDATE directories
        SET parent_directory_id = #{parentDirectoryId}
        WHERE directory_id = #{directoryId}
    </update>

    <!-- 更新目录大小 -->
    <update id="updateSize" parameterType="map">
        UPDATE directories
        SET size = #{size}
        WHERE directory_id = #{directoryId}
    </update>

    <!-- 查询用户的根目录ID -->
    <select id="getRootDirectoryId" parameterType="java.util.UUID" resultType="java.lang.String">
        SELECT directory_id
        FROM directories
        WHERE user_id = #{userId}
        AND parent_directory_id is NULL
    </select>

    <!-- 根据目录ID查询目录 -->
    <select id="getDirectoryById" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioDirectory">
        SELECT *
        FROM directories
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 查询目录是否存在 -->
    <select id="isDirectoryExist" parameterType="java.util.UUID" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM directories
            WHERE directory_id = #{directoryId}
        ) AS directory_exists;
    </select>

    <!-- 查询目录是否为空 -->
    <select id="isDirectoryEmpty" parameterType="java.util.UUID" resultType="java.lang.Boolean">
        SELECT NOT EXISTS(
            SELECT 1 FROM directories WHERE parent_directory_id = #{directoryId}
            UNION ALL
            SELECT 1 FROM files WHERE directory_id = #{directoryId}
        )
    </select>

    <!-- 查询指定目录ID的目录 -->
    <select id="getDirectory" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioDirectory">
        SELECT *
        FROM directories
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 获取目录名称 -->
    <select id="getDirectoryName" resultType="java.lang.String">
        SELECT name
        FROM directories
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 查询指定父目录和指定文件夹名称的目录 -->
    <select id="getDirectoryId" parameterType="map" resultType="java.lang.String">
        SELECT directory_id
        FROM directories
        WHERE parent_directory_id = #{parentDirectoryId}
        AND name = #{name}
    </select>

    <!-- 查询指定目录下的所有子目录 -->
    <select id="getDirectoriesByParentDirectoryId" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioDirectory">
        SELECT *
        FROM directories
        WHERE parent_directory_id = #{parentDirectoryId}
    </select>

    <!-- 查询目录大小 -->
    <select id="getDirectorySize" parameterType="java.util.UUID" resultType="java.lang.Long">
        SELECT COALESCE(SUM(total_size), 0) AS directory_size
        FROM(
            SELECT SUM(f.size) AS total_size
            FROM files f
            WHERE f.directory_id = #{directoryId}

            UNION ALL

            SELECT SUM(d.size) AS total_size
            FROM directories d
            WHERE d.parent_directory_id = #{directoryId}
        ) as combined;
    </select>

    <!-- 查询目录的Size字段 -->
    <select id="getSizeByDirectoryId" parameterType="java.util.UUID" resultType="java.lang.Long">
        SELECT size
        FROM directories
        WHERE directory_id = #{directoryId}
    </select>
</mapper>