<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloud.fs.mappers.FileMapper">

    <!-- 添加文件 -->
    <insert id="createFile" parameterType="map">
        INSERT INTO files (file_id, directory_id, user_id, object_name, mime_type, size)
        VALUES (#{fileId}, #{directoryId}, #{userId}, #{objectName}, #{mimeType}, #{size})
    </insert>

    <!-- 检查指定目录下是否存在特定名称的文件 -->
    <select id="isFileExist" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM files
            WHERE directory_id = #{directoryId}
            AND object_name = #{objectName}
        )
    </select>

    <!-- 删除文件 -->
    <delete id="deleteFile" parameterType="java.util.UUID">
        DELETE FROM files
        WHERE file_id = #{fileId}
    </delete>

    <!-- 移动文件 -->
    <update id="moveFile" parameterType="map">
        UPDATE files
        SET directory_id = #{directoryId},
            updated_at = CURRENT_TIMESTAMP
        WHERE file_id = #{fileId}
    </update>

    <!-- 根据文件ID查询父目录对象 -->
    <select id="getParentDirectory" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioDirectory">
        SELECT *
        FROM directories
        WHERE directories.directory_id = (
            SELECT files.directory_id
            FROM files
            WHERE file_id = #{fileId}
        )
    </select>

    <!-- 查询指定目录下的所有文件 -->
    <select id="getFilesByDirectoryId" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioFile">
        SELECT *
        FROM files
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 统计指定目录下的文件数量 -->
    <select id="countFilesByDirectoryId" parameterType="java.util.UUID" resultType="java.lang.Long">
        SELECT COUNT(file_id)
        FROM files
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 分页查询指定目录下的文件 -->
    <select id="getFileByDirectoryIdPaged" parameterType="map" resultType="org.cloud.fs.model.MinioFile">
        SELECT *
        FROM files
        WHERE directory_id = #{directoryId}
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 查询指定目录下的所有文件ID -->
    <select id="getFileIdsByDirectoryId" parameterType="java.util.UUID" resultType="java.lang.String">
        SELECT file_id
        FROM files
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 获取文件的所属用户 id -->
    <select id="getUserIdByFileId" parameterType="java.util.UUID" resultType="java.lang.String">
        SELECT user_id
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 查询文件所属目录ID -->
    <select id="getDirectoryIdByFileId" parameterType="java.util.UUID" resultType="java.lang.String">
        SELECT directory_id
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 根据文件ID查询文件名称 -->
    <select id="getNameByFileId" resultType="java.lang.String">
        SELECT object_name
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 计算用户所使用的存储空间 -->
    <select id="computeUsedStorage" resultType="java.lang.Long">
        SELECT SUM(size)
        FROM files
        WHERE user_id = #{userId}
    </select>
</mapper>