<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloud.fs.mappers.FileMapper">

    <!-- 插入文件 -->
    <insert id="createFile" parameterType="map">
        INSERT INTO files (file_id, directory_id, user_id, object_name, mime_type, size)
        VALUES (#{fileId}, #{directoryId}, #{userId}, #{objectName}, #{mimeType}, #{size})
    </insert>

    <!-- 更新文件 -->
    <update id="updateFile" parameterType="map">
        UPDATE files
        SET directory_id = #{directoryId},
            user_id = #{userId},
            object_name = #{objectName},
            size = #{size},
            updated_at = CURRENT_TIMESTAMP
        WHERE file_id = #{fileId}
    </update>

    <!-- 更新文件名称 -->
    <update id="updateFileName" parameterType="map">
        UPDATE files
        SET object_name = #{objectName}
        WHERE file_id = #{fileId}
    </update>

    <!-- 删除文件 -->
    <delete id="deleteFile" parameterType="java.util.UUID">
        DELETE FROM files
        WHERE file_id = #{fileId}
    </delete>

    <!-- 移动文件 -->
    <update id="moveFile" parameterType="map">
        UPDATE files
        SET directory_id = #{directoryId},
            updated_at = CURRENT_TIMESTAMP
        WHERE file_id = #{fileId}
    </update>

    <!-- 查询文件是否存在 -->
    <select id="isFileExist" parameterType="java.util.UUID" resultType="java.lang.Boolean">
        select EXISTS(
            select 1 from files WHERE file_id = #{fileId}
        ) AS file_exists;
    </select>

    <!-- 查询文件所在文目录的ID -->
    <select id="getDirectoryId" parameterType="java.util.UUID" resultType="java.lang.String">
        SELECT directory_id
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 根据文件ID查询父目录对象 -->
    <select id="getParentDirectory" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioDirectory">
        SELECT *
        FROM directories
        WHERE directories.directory_id = (
            SELECT files.directory_id
            FROM files
            WHERE file_id = #{fileId}
        )
    </select>

    <!-- 根据用户ID查询文件 -->
    <select id="getFileById" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioFile">
        SELECT *
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 根据父目录和文件名称获取文件对象 -->
    <select id="getFileByName" parameterType="map" resultType="org.cloud.fs.model.MinioFile">
        SELECT *
        FROM files
        WHERE directory_id = #{directoryId}
        AND object_name = #{objectName}
    </select>

    <!-- 查询指定目录下的所有文件 -->
    <select id="getFilesByDirectoryId" parameterType="java.util.UUID" resultType="org.cloud.fs.model.MinioFile">
        select *
        FROM files
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 查询指定目录下的所有文件ID -->
    <select id="getFileIdsByDirectoryId" parameterType="java.util.UUID" resultType="java.lang.String">
        SELECT file_id
        FROM files
        WHERE directory_id = #{directoryId}
    </select>

    <!-- 获取文件的所属用户 id -->
    <select id="getUserIdByFileId" parameterType="java.util.UUID" resultType="java.lang.String">
        SELECT user_id
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 根据文件ID查询文件名称 -->
    <select id="getNameByFileId" resultType="java.lang.String">
        SELECT object_name
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 计算用户所使用的存储空间 -->
    <select id="computeUsedStorage" resultType="java.lang.Long">
        SELECT SUM(size)
        FROM files
        WHERE user_id = #{userId}
    </select>

</mapper>